<?xml version="1.0"?>
<config>
    <modules>
        <Kerss_Categoryslider>
            <version>1.0.0</version>
        </Kerss_Categoryslider>
    </modules>
    <frontend>
        <routers>
            <categoryslider>
                <use>standard</use>
                <args>
                    <module>Kerss_Categoryslider</module>
                    <frontName>categoryslider</frontName>
                </args>
            </categoryslider>
        </routers>
        <layout>
            <updates>
                <categoryslider>
                    <file>categoryslider.xml</file>
                </categoryslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <categoryslider>
                <class>Kerss_Categoryslider_Helper</class>
            </categoryslider>
        </helpers>
        <blocks>
            <categoryslider>
                <class>Kerss_Categoryslider_Block</class>
            </categoryslider>
        </blocks>
        <models>
            <categoryslider>
                <class>Kerss_Categoryslider_Model</class>
                <resourceModel>categoryslider_mysql4</resourceModel>
            </categoryslider>
            <categoryslider_mysql4>
                <class>Kerss_Categoryslider_Model_Mysql4</class>
                <entities>
                    <categoryslider>
                        <table>categoryslider</table>
                    </categoryslider>
                </entities>
            </categoryslider_mysql4>
        </models>
        <resources>
            <categoryslider_setup>
                <setup>
                    <module>Kerss_Categoryslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryslider_setup>
            <categoryslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryslider_write>
            <categoryslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryslider_read>
        </resources>
    </global>
    <admin>
        <routers>
            <categoryslider>
                <use>admin</use>
                <args>
                    <module>Kerss_Categoryslider</module>
                    <frontName>categoryslider</frontName>
                </args>
            </categoryslider>
            <adminhtml>
                <args>
                    <modules>
                        <Kerss_Categoryslider after="Mage_Adminhtml">Kerss_Categoryslider_Adminhtml</Kerss_Categoryslider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <categoryslider module="categoryslider">
                <title>Kerss Tech</title>
                <sort_order>110</sort_order>
                <children>
                    <categoryslider module="categoryslider">
                        <title>Manage Categoryslider</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/categoryslider</action>
                    </categoryslider>
                    <settings module="categoryslider">
                        <title>Settings</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/system_config/edit/section/categorysection</action>
                    </settings>
                </children>
            </categoryslider>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <categoryslider translate="title" module="categoryslider">
                            <title>Categoryslider</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <categoryslider translate="title">
                                    <title>Manage Categoryslider</title>
                                    <sort_order>10</sort_order>
                                </categoryslider>
                                <settings translate="title">
                                    <title>Settings</title>
                                    <sort_order>20</sort_order>
                                </settings>
                            </children>
                        </categoryslider>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <categoryslider>
                    <file>categoryslider.xml</file>
                </categoryslider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <categorysection>
            <categorygroup>
                <enable>1</enable>
                <enablejq>1</enablejq>
                <enableconflictjs>1</enableconflictjs>
            </categorygroup>
            <categorydesign>
                <imgwidth>1024</imgwidth>
                <imgheight>400</imgheight>
                <userCss>0</userCss>
                <transitionspeed>2000</transitionspeed>
                <duration>4000</duration>
                <showNavigation>1</showNavigation>
                <navigationColor>3399CC</navigationColor>
                <navigationHoverColor>D52B2F</navigationHoverColor>
                <navigationHighlightColor>DFDFDF</navigationHighlightColor>
                <navigationNumberColor>000000</navigationNumberColor>
                <positionNavigation>out-center-bottom</positionNavigation>
                <navigationType>square</navigationType>
                <showControl>1</showControl>
                <controlColor>FFFFFF</controlColor>
                <controlBackgroundColor>000000</controlBackgroundColor>
                <positionControl>left-right</positionControl>
                <transition>slide-left</transition>
                <showProgress>1</showProgress>
                <progressColor>797979</progressColor>
                <pauseOnHover>1</pauseOnHover>
            </categorydesign>
        </categorysection>
    </default>
</config>